# Logs
logs
*.log
npm-debug.log*

#DS_Store
public/.DS_Store

# Dependency directories
node_modules

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

.vscode/*

.eslintrc.js

#Directories
cluster/*
clis/*
import/*
export/*
usage/*

#Files
.eslintrc.js
package-lock.json
