.dropzone {
    background: white;
    border-radius: 5px;
    border: 2px dashed rgb(0, 135, 247);
    border-image: none;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.select, #locale {
    width: 100%;
}

.like {
    margin-right: 10px;
}

 