<!-- ==================================== -->
<!-- Side nav section                     -->
<!-- ==================================== -->
<nav id="sidebar">
    <div class="sidebar-header">
        <strong>VpK</strong>
        <h6>Visual parsed Kubernetes</h6>
    </div>
    <ul class="list-unstyled components">
        <li>
            <a href="#dataSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-exchange-alt"></i>
                K8 Data
            </a>
            <ul class="collapse list-unstyled" id="dataSubmenu">
                <li>
                    <a href="javascript:getCluster()">Running K8 Cluster</a>
                </li>
                <li>
                    <a href="javascript:changeDir()">Previous K8 Data</a>
                </li>
                <li>
                    <a href="javascript:fileUpload()">Upload K8 Files</a>
                </li>
            </ul>
        </li>

        <li>
            <a href="javascript:viewPalette()">
                <i class="fas fa-cogs"></i>
                Configuration
            </a>
        </li>

        <li>
            <a href="#infoSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-question-circle"></i>
                Information
            </a>
            <ul class="collapse list-unstyled" id="infoSubmenu">
                
                <li>
                    <a href="javascript:about()">About</a>
                </li>
                <li>
                    <a href="javascript:dirStats()">Load Statistics</a>
                </li>

                <li>
                    <a href="javascript:viewCmds()">View Commands</a>
                </li>
                <li>
                    <a href="javascript:viewCmds()">Export Commands</a>
                </li>

            </ul>
        </li>
    </ul>
</nav>
